<section class="answers">
    <div class="container answers__container">
        <div class="answers__pre-title" id="answers-pre-title">
            <a href="#" id="result-link">Результат прохождения теста <img src="/images/arrow-right-gray.svg"
                                                                                    alt="стрелочка вправо"></a>
            <div class="answers__pre-title-text" id="test-name">Тест №1. “JavaScript: Начальный уровень”</div>
        </div>
        <div class="answers__title big-title">
            <span>Правильные ответы</span> к тесту
        </div>
        <div class="person" id="person">
            Тест выполнил(а) <span>Роман Чернов, roman@itlogia.ru</span>
        </div>
        <div class="answers__questions" id="answers-questions">

        </div>

        <div class="return-result">
            <a href="javascript:void(0)" id="return-result">Обратно к моему результату теста<img src="/images/arrow-small-right.svg"
                                                                       alt="стрелочка вправо"></a>
        </div>
    </div>
</section>

