<section class="choice">
    <div class="container choice__container">
        <div class="choice__content">
            <h1 class="choice__title title">
                Выберите <span>тему теста</span>
            </h1>
            <div class="choice__description">
                Чтобы начать тест, выберите одну из предложенных ниже тем.
            </div>
            <div class="choice__options"  id="choice__options">

            </div>
        </div>
        <div class="form__image">
            <img src="../images/choice-image.png" alt="выбор">
        </div>
    </div>
</section>
